/*----------------------------------------------------------------+
|  [HACK] Hide unnecessary menu items                             |
|  ===> remove this hack once applied [Flexible Sections] format  |
+----------------------------------------------------------------*/
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a { display: none; }
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=1'],
/* MBBS I (IASM & CPRS) */
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=2'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=3'],
/* MBBS II */
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=4'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=5'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=6'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=7'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=8'],
/* MBBS IV (CFB & JC) */
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=9'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=11'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=12'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=13'],
/* MBBS V (SC) */
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=14'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=15'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=16'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=17'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=18'],
/* MBBS V & VI (SpC) */
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=19'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=20'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=21'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=22'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=23'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=24'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=25'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=26'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=27'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=28'],
body:not(.editing) #nav-drawer nav[aria-label^='_MBBS'] > ul > li > a[href$='&section=29'] { display: block; }


/* header image */
#page-header .card-body {
	background-image: url(https://moodle.hku.hk/theme/hkumoodle/pix/hku_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center left;
	height: 200px;
}
body.course-75344 #page-header .card-body {	background-image: url(https://www.hku.hk/f/wallpaper/7993/DSC_8822A.jpg); }


/* header */
#page-header h1 { font-weight: 600; }
#page-navbar a,
#page-header .page-header-headings,
#page-header .breadcrumb-item::before,
#page-header .action-menu-trigger > .dropdown > a,
#page-navbar .breadcrumb-item:nth-child(3) > a::before {
	color: white !important;
	text-shadow: 0 1px 3px rgba(0,0,0,.8);
}


/* section banner */
.section.main > .content > .summary img {
	border: solid white;
	border-width: 0 8px;
	display: block !important;
	margin: 0 auto 1rem auto !important;
	vertical-align: bottom;
	width: auto;
}


/* section title */
h3.sectionname {
	margin-left: 1rem;
	text-align: left !important;
}


/* hide general section (visually) */
#section-0 { display: none; }


/* hide section title in modal */
.modal .sectionname,
.modal .section-navigation { display: none !important; }


/* hide panopto block (available to browser & invisible to user) */
body:not(.editing) #block-region-side-pre .block[data-block=panopto] { display: none; }


/* fix overflow in label */
.contentwithoutlink .no-overflow { overflow: visible; }