/*
<fusedoc>
	<description>
		Twist the layout of Enlightlite theme
	</description>
</fusedoc>
*/


/* specify max content size (instead of always full width) */
#page.container-fluid { max-width: 1400px; }


/* increase size of activity modal */
.moodle-dialogue { width: 800px !important; }


/* hide breadcrumb first two items (which just go to Moodle dashboard) */
#page-navbar .breadcrumb-item:nth-child(1),
#page-navbar .breadcrumb-item:nth-child(2),
#page-navbar .breadcrumb-item:nth-child(3)::before { display: none; }


/* hide useless links at footer */
body:not(.editing) .tool_dataprivacy,
body:not(.editing) #site-footer .usertour,
body:not(.editing) a[href*='download.moodle.org/mobile'] { display: none; }