/* list index */
body:not(.editing) .cmap { list-style-type: none; }
body:not(.editing) .cmap > li {
	margin-left: -1rem;
	position: relative;
}
body:not(.editing) .cmap > li::before {
	color: #666;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	left: -1.5rem;
	position: absolute;
	top: 0;
}
body:not(.editing) .cmap > li:nth-child(1)::before { content: '1'; }
body:not(.editing) .cmap > li:nth-child(2)::before { content: '2'; }
body:not(.editing) .cmap > li:nth-child(3)::before { content: '3'; }
body:not(.editing) .cmap > li:nth-child(4)::before { content: '4'; }
body:not(.editing) .cmap > li:nth-child(5)::before { content: '5'; }
body:not(.editing) .cmap > li:nth-child(6)::before { content: '6'; }
body:not(.editing) .cmap > li:nth-child(7)::before { content: '7'; }
body:not(.editing) .cmap > li:nth-child(8)::before { content: '8'; }
body:not(.editing) .cmap > li:nth-child(9)::before { content: '9'; }


/* general */
body:not(.editing) .cmap table {
	height: 0;
	margin: 0 !important;
	min-width: 600px;
	width: 100%;
}
body:not(.editing) .cmap td { padding: 0; }
body:not(.editing) .cmap table,
body:not(.editing) .cmap td { border: solid 1px white; }
body:not(.editing) .cmap td.spc-block { border: none; }


/* block table */
body:not(.editing) .cmap tbody td { font-size: .85rem; }
body:not(.editing) .cmap tbody td a { color: white !important; }
body:not(.editing) .cmap tbody td > a,
body:not(.editing) .cmap tbody td > span {
	background: gray;
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform .25s;
	vertical-align: middle;
}
body:not(.editing) .cmap tbody td > span,
body:not(.editing) .cmap tbody td > a[href] { z-index: 1; }
body:not(.editing) .cmap tbody td > span:hover,
body:not(.editing) .cmap tbody td > a[href]:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.6);
	transform: scale(1.05, 1.05);
	z-index: 999;
}
body:not(.editing) .cmap tbody td > a > span,
body:not(.editing) .cmap tbody td > span > a {
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}


/* month ruler */
body:not(.editing) .cmap tfoot td {
	font-size: .7rem;
	font-style: italic;
}


/* block color */
body:not(.editing) .cmap td.iasm      a { background: #4bacc6; }
body:not(.editing) .cmap td.cprs      a { background: #00b0f0; }
body:not(.editing) .cmap td.formative a { background: #d99594; }
body:not(.editing) .cmap td.summative a { background: #c0504d; }
body:not(.editing) .cmap td.cc        a { background: #f79646; }
body:not(.editing) .cmap td.english   a { background: #9bbb59; }
body:not(.editing) .cmap td.gis       a { background: #00b0f0; }
body:not(.editing) .cmap td.mss       a { background: #00b0f0; }
body:not(.editing) .cmap td.hnns      a { background: #00b0f0; }
body:not(.editing) .cmap td.his       a { background: #00b0f0; }
body:not(.editing) .cmap td.ers       a { background: #00b0f0; }
body:not(.editing) .cmap td.chinese   a { background: #948a54; }
body:not(.editing) .cmap td.ey        a { background: #8064a2; }
body:not(.editing) .cmap td.cfb       a { background: #4bacc6; }
body:not(.editing) .cmap td.comm      a { background: #4f6228; }
body:not(.editing) .cmap td.jc        a { background: #4f81bd; }
body:not(.editing) .cmap td.sc        a { background: #0070bf; }
body:not(.editing) .cmap td.break     a { background: #afafaf; }
body:not(.editing) .cmap td.spc       a { background: #365f91; }
body:not(.editing) .cmap td.revision  a { background: #92cddc; }
body:not(.editing) .cmap td.elective  a { background: #b2a1c7; }
body:not(.editing) .cmap td.epib      a { background: #cc9900; }


/* table overflow bug (when hover blocks around the edge) */
@media (min-width: 992px) {
	#section-1 ul.section .activity .no-overflow,
	.cmap .table-responsive { overflow: visible; }
}